.div-root {
  flex-direction: column;
  display: block;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.center {
  align-items: stretch;
  justify-content: space-around;
  display: flex;
}

.search-box {
  margin: 10px 0;
}

.table-row {
  margin: auto;
  width: 60%;
  padding: 20px;
  font-weight: bold;
}

.my-button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 100px;
  outline: none;
  background: #fff;
  color: rgb(15, 15, 15);
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.my-button:hover {
  background: #1e293b;
}

img {
  border-radius: 100%;
}
.pagination-row {
  margin: 20px 0;
  align-items: stretch;
  justify-content: space-between;
}

.hide-data {
  opacity: 0;
}

.show-data {
  opacity: 100%;
}
