.modal {
  background-color: rgba(134, 117, 117, 0.4);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 80px;
}

.modal-root {
  width: 90%;
  height: 80%;
  flex-direction: column;
  display: block;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.modal-content {
  background-color: white;
  width: 70%;
  max-width: 640px;
  position: relative;
  height: 80%;
  margin: auto;
  padding: 10px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 20px;
}

.modal-info {
  overflow: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
